.card {
  color: #000;
  background-color: #f4f0e4;
  padding: 10px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card:last-child {
  margin-right: 0;
}
.card div {
  height: 200px;
  background-size: cover;
  background-position: center;
}
.card .heading {
  margin: 10px 10px 0;
}
