.navigation {
  padding: 0;
  margin: 0;
  background-color: #b2984d;
  position: relative;
  box-shadow: 0 0 10px 0 #000;
  z-index: 1;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
}
.navigation a:hover,
.navigation a.active {
  color: #000;
}
