.loader-container {
  position: relative;
  min-height: 500px;
}
.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 220px;
  height: 220px;
}
.head {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: calc(336px/2);
}
.spinner {
  width: 220px;
  height: 220px;
  border: 8px solid #b2984d;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 100%;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
