.header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.login button {
  margin-left: 10px;
}

.text-logo {
  max-width: 300px;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .text-logo {
    max-width: 220px;
  }
}
