@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background-color: #201b0e;
}
.sub-heading {
  font-family: "Pacifico", cursive;
}

.text-logo {
  max-width: 300px;
  padding: 20px 0;
}
