.profile-area {
  color: #000;
}
.profile-image-container {
  position: relative;
  width: 140px;
}
.profile-image {
  border: 10px solid lightgrey;
}
.verified {
  color: green;
  position: absolute;
  right: 0;
  top: 0;
}
